.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    position: relative;
}

.radio::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0;
}


.radio:checked::before {
    opacity: 1;
}
.span {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.label {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
