.App {
    --header_height: 60px;
    margin-top: 50px;
}

.hw {
    height: 100vh;
    padding: 24px 70px 24px;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    padding-left: 70px;
    height: 70px;
    display: flex;
    align-items: flex-end;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(217, 217, 217, 1);
}